<template>
  <v-card class="paper" height="100%">
    <v-container grid-list-md>
      <v-layout row wrap>
        <ul v-for="(type, index) in cardTypes" v-bind:key="index">
          <v-flex xs12>  
              <h4>{{type}}</h4>
              <li 
                v-for="card in deck.cards"
                v-if="card.types.includes(type)"
                v-bind:key="card.id">
                
                <v-tooltip absolute open-delay=1000>
                  <span slot="activator">{{card.name}}</span>
                  <span>
                    <img :src=card.imageUrl>
                  </span>
                </v-tooltip>
              </li>
            </v-flex>
          </ul>   
        </v-layout>
    </v-container>
  </v-card>
</template>

<script>
import Card from "@/components/Game/Card.vue";
import draggable from "vuedraggable";

export default {
  components: {
    Card,
    draggable
  },
  data: function() {
    return {
      cardTypes: [
        "Creature",
        "Enchantment",
        "Instant",
        "Sorcery",    
        "Land",       
      ]
    };
  },
  computed: {
    deck: function() {
      return this.$store.getters.getDeck;
    }
  }
};
</script>

<style scoped>
.drag-area {
  width: 100%;
  display: flex;
}
ul {
  list-style-type: none;
}
</style>

