<template>
    <b-row class="layout">      
        <draggable 
            class="drag-area" 
            :v-model="cardList" 
            :options="{group:'cards'}">
                <Card 
                    v-for="card in cardList" 
                    v-bind:key="card.id" 
                    v-bind:card="card"/>
    </draggable>
  </b-row>
</template>

<script>
import Card from "@/components/Game/Card.vue";
import draggable from "vuedraggable";

export default {
  name: "GridHorizontalLayout",
  props: ["cardList"],
  components: {
    Card,
    draggable
  }
};
</script>

<style scoped>
.layout {
  padding: 10px;

  border: 2px solid whitesmoke;
  border-radius: 15px;
}
.drag-area {
  width: 100%;
  display: flex;
}
</style>

