<template>
  <v-card class="paper" height="100%">
  <v-container grid-list-md>
    <v-layout row wrap>

      <v-form class="infoInput" @submit.prevent="">
        <v-flex>   
          <v-text-field
            v-model="deckName"
            label="Deck Name"
            required
          ></v-text-field>
        <v-textarea
            name="input-7-1"
            v-model="deckDescription"
            label="Description"
            auto-grow
          ></v-textarea>
      </v-flex>
      </v-form>

    <v-flex xs12 md3> 
      <v-btn depressed dark >
        <label class="text-reader" for="upload-photo">Upload
          <input type="file" id="upload-photo" v-on:change="uploadDeck" hidden>
        </label>
      </v-btn>
        
      <v-btn depressed dark >Download</v-btn>
      <v-btn depressed dark @click="resetDeck">Reset</v-btn>
      <v-btn depressed dark @click="saveDeck">Save</v-btn>
    </v-flex>

    </v-layout>
  </v-container>
  </v-card>
</template>

<script>
export default {
  data: function() {
    return {
      deckName: "",
      deckDescription: "",
      file: ""
    };
  },
  methods: {
    uploadDeck(ev) {
      const file = ev.target.files[0];
      const reader = new FileReader();

      reader.onload = e => {
        this.$store.commit("resetDeck");

        JSON.parse(e.target.result).list.cards.forEach(card => {
          this.$store.commit("addToDeck", card.name);
        });
      };
      reader.readAsText(file);
    },
    resetDeck: function() {
      this.$store.commit("resetDeck");
    },
    saveDeck: function() {
      this.$store.commit("saveDeck", this.deckName);
    }
  }
};
</script>

<style scoped>
.infoInput {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  width: 100%;
}
</style>
