<template>
        <v-card class="paper" height="100%">
    <v-form class="searchInput" @submit.prevent="">
        <v-text-field
        v-model="searchTerm"
        label="Search"
        required
        ></v-text-field>
        <v-btn depressed dark @click="searchCards(searchTerm)">Search</v-btn>
    </v-form>
    <v-list-tile
    v-for="card in searchResults.slice(0,10)"
    :key="card.id"
    >
          <v-tooltip absolute open-delay=1000>
            <span slot="activator">{{ card.name }}</span>
            <span>
              <img :src=card.imageUrl>
            </span>
          </v-tooltip>    
          <v-spacer></v-spacer>    
              

        <v-btn @click="addToDeck(card.name)" fab small color="rgb(19, 77, 38)">
            <v-icon dark>add</v-icon>
        </v-btn>
    </v-list-tile>
        </v-card>
</template>

<script>
export default {
  data: function() {
    return {
      searchResults: [],
      searchTerm: ""
    };
  },
  methods: {
    searchCards: function(cardName) {
      const mtg = require("mtgsdk");
      this.searchResults = [];
      mtg.card.where({ name: cardName }).then(cards => {
        this.searchResults = cards;
      });
    },
    addToDeck: function(cardName) {
      this.$store.commit("addToDeck", cardName);
    }
  }
};
</script>

<style scoped>
.searchInput {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
</style>
