<template>
  <v-card class="paper" height="100%">
  <v-container grid-list-md>
    <v-layout row wrap>

    <v-flex xs12 sm6>  
      <doughnut-chart 
        :chartData="doughnutChartData" 
        :width="400"
        :height="300">
      </doughnut-chart>
    </v-flex>

    <v-flex xs12 sm6>  
      <line-chart 
        :chartData="lineChartData" 
        :width="400"
        :height="200">
      </line-chart>
    </v-flex>

    </v-layout>
  </v-container>
  </v-card>
</template>

<script>
import DoughnutChart from "@/components/Builder/DoughnutChart.vue";
import LineChart from "@/components/Builder/LineChart.vue";

export default {
  components: {
    DoughnutChart,
    LineChart
  },
  computed: {
    deck: function() {
      return this.$store.getters.getDeck;
    },
    doughnutChartData: function() {
      var colors = ["Black", "White", "Blue", "Red", "Green", "Grey"];
      var manaCount = [0, 0, 0, 0, 0, 0];

      this.deck.cards.forEach(card => {
        card.manaCost.match(/([^{}]+)/g).forEach(mana => {
          if (mana == "B") {
            manaCount[0] += 1;
          } else if (mana == "W") {
            manaCount[1] += 1;
          } else if (mana == "U") {
            manaCount[2] += 1;
          } else if (mana == "R") {
            manaCount[3] += 1;
          } else if (mana == "G") {
            manaCount[4] += 1;
          }
        });
      });

      return {
        labels: colors,
        datasets: [
          {
            backgroundColor: colors,
            hoverBackgroundColor: colors,
            data: manaCount
          }
        ]
      };
    },
    lineChartData: function() {
      var manaCurve = [];

      // Finds the total mana cost of the card
      this.deck.cards.forEach(card => {
        var cardCost = 0;
        card.manaCost.match(/([^{}]+)/g).forEach(mana => {
          if (mana == "B") {
            cardCost += 1;
          } else if (mana == "W") {
            cardCost += 1;
          } else if (mana == "U") {
            cardCost += 1;
          } else if (mana == "R") {
            cardCost += 1;
          } else if (mana == "G") {
            cardCost += 1;
          } else if (!isNaN(mana)) {
            cardCost += parseInt(mana);
          }
        });

        // Checks if there is already a card for that cost
        var index = manaCurve
          .map(function(e) {
            return e.cost;
          })
          .indexOf(cardCost);

        // Creates a counter for the cost if it doesn't exist, otherwise increase count
        if (index >= 0) {
          manaCurve[index].costCount += 1;
        } else {
          manaCurve.push({ cost: cardCost, costCount: 1 });
        }
      });

      // Sort the cost values
      manaCurve.sort((a, b) => (a.cost > b.cost ? 1 : -1));

      // Creates arrays to pass into the chart
      var costs = [];
      var costCounts = [];
      manaCurve.forEach(mana => {
        costs.push(mana.cost);
        costCounts.push(mana.costCount);
      });

      return {
        labels: costs,
        datasets: [
          {
            data: costCounts
          }
        ]
      };
    }
  }
};
</script>
