<template>
  <v-card class="paper">
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{event.title}}</h3>
            <div>{{event.message}}</div>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn flat color="black">View</v-btn>
        </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "FeedEvent",
  props: ["event"]
};
</script>