<template>        
    <v-item-group multiple class="paper">
        <v-subheader>{{name}}</v-subheader>
        <v-item
          v-for="event in list"
            v-bind:key="event.id"
        >
          <v-chip
            slot-scope="{ active, toggle }"
            :selected="active"
            @click="toggle"
            color="blue" 
            text-color="white"
            style="width: 90%;"
          >
                <v-avatar v-if='name==="Leaderboard"' class="blue darken-4">{{event.level}}</v-avatar>
                {{event.user}}
          </v-chip>
        </v-item>
      </v-item-group>
</template>

<script>
export default {
  name: "FeedList",
  props: ["list", "name"]
};
</script>
