<template>
    <div>          
      <v-tooltip v-if="card" absolute open-delay=1000>
        <img slot="activator" class="spell" :src=card.imageUrl>
        <span v-on:click="$emit('onClick')">
          <img :src=card.imageUrl>
        </span>
      </v-tooltip>
      <img v-else v-on:click="$emit('onClick')" class="spell" src="@/assets/card-back.jpg">
    </div>
</template>

<script>
export default {
  props: ["card"]
};
</script>

<style scoped>
.spell {
  max-width: 100%;
}
</style>

