<template>
    <v-layout row wrap>
        <draggable 
            class="drag-area" 
            :v-model="cardList" 
            :options="{group:'cards'}">

          <v-flex v-for="card in cardList" :key="card.id" xs1>
                <Card v-bind:card="card"/>
          </v-flex>

      </draggable>
    </v-layout>
</template>

<script>
import Card from "@/components/Game/Card.vue";
import draggable from "vuedraggable";

export default {
  name: "HoriztonalCardLayout",
  props: ["cardList"],
  components: {
    Card,
    draggable
  }
};
</script>

<style scoped>
.layout {
  padding: 10px;

  border: 2px solid whitesmoke;
  border-radius: 5px;
}
.drag-area {
  width: 100%;
  display: flex;
}
</style>

