<template>
    <b-row v-on:click="$emit('onStackClick')" class="layout">
        <Card/>
    </b-row>
</template>

<script>
import Card from "@/components/Game/Card.vue";

export default {
  name: "StackedCardLayout",
  props: ["cardList"],
  components: {
    Card
  }
};
</script>

<style scoped>
.layout {
  padding: 10%;

  border: 2px solid whitesmoke;
  border-radius: 5px;
}
</style>

