<template>
  <div class="login">

  <div v-if="authUser">
    <h2> Signed in as {{authUser.displayName}} we know you like {{authUser.favoriteFood || 'food'}}</h2>
    <img v-if="linkedGoogle" src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg" alt="">
    <img v-if="linkedPassword" src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_email.svg" alt="">
    <button @click="signOut">Sign out</button>
    <button v-if="!linkedGoogle" @click="linkGoogle">Link to Google</button>
    <button v-else @click="unlinkGoogle">Unlink Google</button>

    <p>What's up {{authUser.displayName || "friend"}}</p>

    <form @submit.prevent="updateProfile">
      <h2>Update profile</h2>
      <input v-model="displayName" placeholder="Your name">
      <input v-model="photoURL" placeholder="Your photo url">
      <button>Update profile</button>
    </form>

    <form @submit.prevent="updateEmail">
      <h2>Update email</h2>
      <input v-model="email" placeholder="New email">
      <button>Update email</button>
    </form>
    <form @submit.prevent="updatePassword">
      <h2>Update email</h2>
      <input type="password" v-model="newPassword" placeholder="New password">
      <button>Update password</button>
    </form>
    <form @submit.prevent="updateCustomField">
      <h2>Update custom field</h2>
      <input v-model="favoriteFood" placeholder="Your favorite food">
      <button>Update favorite food</button>
    </form>
    

  </div>

  <div v-else>
      <form @submit.prevent="register">
        <h2>Register</h2>
        <input type="email" v-model="email" placeholder="Type your email">
        <input type="password" v-model="password" placeholder="Type you password">
        <button>Register</button>
      </form>
      <form @submit.prevent="signIn">
        <h2>Sign In</h2>
        <input type="email" v-model="email" placeholder="Type your email">
        <input type="password" v-model="password" placeholder="Type you password">
        <button>Sign In</button>
      </form>
      <div>
        <h2>Sign in with Google</h2>
        <button @click="signInWithGoogle">Sign In</button>
      </div>
  </div>

  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'login',
  data: function () {
    return {
      email: '',
      password: '',
      newPassword: '',
      authUser: null,
      displayName: null,
      photoURL: null,
      favoriteFood: null
    }
  },
  computed: {
    linkedGoogle: function () {
      return !!this.authUser.providerData.find(provider => provider.providerId === 'google.com')
    },
    linkedPassword: function () {
      return !!this.authUser.providerData.find(provider => provider.providerId === 'password')
    }
  },
  methods: {
    register: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
      .then(() => alert('All good'))
      .catch(error => alert(error.message));
    },
    signOut: function () {
      firebase.auth().signOut();
    },
    signIn: function () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password)
      .then(() => alert('All good'))
      .catch(error => alert(error.message));
    },
    signInWithGoogle: function () {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider)
      .then(() => alert('All good'))
      .catch(error => alert(error.message));
    },
    linkGoogle: function () {
      const provider = new firebase.auth.GoogleAuthProvider();
      this.authUser.linkWithPopup(provider)
      .then(() => alert('All good'))
      .catch(error => alert(error.message));
    },
    unlinkGoogle: function () {
      this.authUser.unlink('google.com');
    },
    updateProfile: function () {
      this.authUser.updateProfile({
        displayName: this.displayName,
        photoURL: this.photoURL
      })
    },
    updateCustomField: function () {
      firebase.database().ref('users').child(this.authUser.uid)
        .update({favoriteFood: this.favoriteFood})
    },
    updateEmail: function () {
      this.authUser.updateEmail(this.email);
    },
    updatePassword: function () {
      this.authUser.updatePassword(this.newPassword)
        .then(() => {this.newPassword = null})
        .catch(error => alert(error.message));
    }
  },
  created () {
    firebase.auth().onAuthStateChanged(user => {
      this.authUser = user;
      if(user) {
        this.displayName = user.displayName;
        this.photoUrl = user.photoURL;
        this.email = user.email;
        firebase.database().ref('users').child(user.uid).once('value', snapshot => {
          if(snapshot.val()) {
            this.favoriteFood = snapshot.val().favoriteFood;
            // this.Vue.set(this.authUser, 'favoriteFood', this.favoriteFood);
          }
        })
      }
      })
  }
}
</script>
