<template>
  <v-container grid-list-xl>
    <v-layout row rap>
      <v-flex xs12 md6>
        <Info/>
      </v-flex>
      <v-flex xs12 md6>
        <Stats/>
      </v-flex>
    </v-layout> 

    <v-layout row>
      <v-flex xs12 md3>
        <Search/>
      </v-flex>
      <v-flex xs12 md9>
        <Deck/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script scoped>
import Deck from "@/components/Builder/Deck";
import Search from "@/components/Builder/Search";
import Info from "@/components/Builder/Info";
import Stats from "@/components/Builder/Stats";

export default {
  components: {
    Deck,
    Search,
    Info,
    Stats
  }
};
</script>
