<template>
    <v-container grid-list-md>
        <v-layout v-layout align-start justify-space-around row fill-height>
        <v-flex xs12 md2>
          <List v-bind:list="leaderboard" name="Leaderboard"/>
        </v-flex>

        <v-layout align-space-around justify-start column>
          <v-flex xs12 md8 v-for="event in events" v-bind:key="event.id" >
              <Event v-bind:event="event"/>  
          </v-flex>
        </v-layout>
        
         <v-flex xs12 md2>
            <List v-bind:list="stats" name="Stats"/>
          </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import Event from "@/components/Feed/Event.vue";
import List from "@/components/Feed/List.vue";

export default {
  components: {
    Event,
    List
  },
  data: function() {
    return {
      leaderboard: [
        { user: "Nick", level: 100, wins: 100 },
        { user: "Zak", level: 56, wins: 80 },
        { user: "Carson", level: 9, wins: 3 }
      ],
      events: [
        { title: "New Deck", message: "Nick created a new deck!", url: "#" },
        { title: "Battle", message: "Nick", url: "Zak" },
        { title: "Battle", message: "Zak", url: "Carson" },
        { title: "New Deck", message: "Zak", url: "#" },
        { title: "New Deck", message: "Nick created a new deck!", url: "#" },
        { title: "Battle", message: "Nick", url: "Zak" },
        { title: "Battle", message: "Zak", url: "Carson" },
        { title: "New Deck", message: "Zak", url: "#" }
      ],
      stats: [{ user: "Nick is your ally!" }, { user: "Nick is your nemesis!" }]
    };
  }
};
</script>
