<template>

<v-container grid-list-md text-xs-center fluid>

    <HorizontalCardLayout v-bind:cardList="field"/>
    <v-layout row wrap>
      <v-flex md3>
       <HorizontalCardLayout v-bind:cardList="enchantments"/>        
      </v-flex>
      <v-flex md9>
        <HorizontalCardLayout v-bind:cardList="creatures"/>
        <HorizontalCardLayout v-bind:cardList="lands"/>        
      </v-flex>
    </v-layout>

    <v-layout row wrap>
        <v-flex md9>
        <HorizontalCardLayout v-bind:cardList="deck.cards"/>
        </v-flex>
        <v-flex md1>
          <b-row v-on:click=clickDeck>
            <Card />
          </b-row>
        </v-flex>
        <v-flex md1>
          <b-row v-on:click=clickGraveyard>
            <Card />
          </b-row>
        </v-flex>
        <v-flex md1>
          <b-row v-on:click=clickExiled>
            <Card />
          </b-row>
        </v-flex>
        </v-layout>
  </v-container>
</template>

<script>
import Card from "@/components/Game/Card.vue";
import HorizontalCardLayout from "@/components/Game/HorizontalCardLayout.vue";
import Stack from "@/components/Game/Stack.vue";

export default {
  name: "Game",
  components: {
    Card,
    HorizontalCardLayout,
    Stack
  },
  data: function() {
    return {
      hand: [],
      field: [],
      lands: [],
      creatures: [],
      enchantments: []
    };
  },
  computed: {
    deck: function() {
      return this.$store.getters.getDeck;
    }
  },
  methods: {
    clickDeck: function() {
      alert("Graveyard was clicked!");
      const topCard = this.deck.pop();

      const mtg = require("mtgsdk");
      mtg.card.where({ name: topCard.name }).then(result => {
        /* eslint-disable */
        console.log(result[0].imageUrl);

        this.hand.push({ name: result[0].name, image: result[0].imageUrl });
      });
    },
    clickGraveyard: function() {
      alert("Graveyard was clicked!");
    },
    clickExiled: function() {
      alert("Exile was clicked!");
    }
  }
};
</script>