<template>
    <v-list-tile v-on:click=navigateTo>
      <v-list-tile-action>
        <v-icon>{{icon}}</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>{{title}}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
</template>

<script>
export default {
  name: "DrawerTile",
  props: ["title", "icon", "url"],
  methods: {
    navigateTo: function() {
      this.$router.push({ name: this.url });
    }
  }
};
</script>

<style scoped>
.navbar {
  background-color: rgb(19, 77, 38);
}
</style>