<template>
<div>
  <v-toolbar app fixed clipped-left dark color="rgb(19, 77, 38)">
    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-title>MagicBook</v-toolbar-title>
  </v-toolbar>

  <v-navigation-drawer
    v-model="drawer"
    clipped
    fixed
    app 
    dark
  >

    <v-list v-if="authUser">
        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{displayName}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
    <v-divider dark></v-divider>
    </v-list>


    <v-list>
      <drawer-tile title="Deck Builder" icon=build url="builder"></drawer-tile>
      <drawer-tile title="Game" icon=view_module url="game"></drawer-tile>        
      <drawer-tile title="Feed" icon=view_headline url="feed"></drawer-tile>        
    </v-list>

    <v-divider dark></v-divider>

    <v-list v-if="authUser">
      <drawer-tile title="Sign Out" icon=dashboard url="logout"></drawer-tile>     
    </v-list>
    <v-list v-else>
      <drawer-tile title="Login" icon=person url="login"></drawer-tile>     
      <drawer-tile title="Register" icon=person_add url="register"></drawer-tile>     
    </v-list>

  </v-navigation-drawer>
</div>
</template>

<script>
import DrawerTile from "@/components/General/DrawerTile.vue";

export default {
  components: {
    DrawerTile
  },
  data: function() {
    return {
      drawer: false
    };
  },
  computed: {
    displayName: function() {
      return this.$store.getters.displayName;
    },
    authUser: function() {
      return this.$store.getters.authUser;
    }
  }
};
</script>

<style scoped>
.navbar {
  background-color: rgb(19, 77, 38);
}
</style>