<template>
  <div id="app">
    <ToolBar/>
    <router-view/>
  </div>
</template>


<script>
import ToolBar from "@/components/General/ToolBar.vue";

export default {
  name: "App",
  components: {
    ToolBar
  },
  created() {
    this.$store.dispatch("setUser");
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100%;
  padding-top: 75px;
  background-image: url("./assets/background.jpg");
  background-repeat: repeat-y;
  background-color: #cccccc;
}

html,
body {
  width: 100%;
  height: 100%;
}

.full {
  height: 100%;
}
.half {
  height: 50%;
}
.quarter {
  height: 25%;
}
.paper {
  background-image: url("./assets/old-paper.jpg");
  background-color: #cccccc;
  background-size: 100%;
  background-repeat: repeat;
}
</style>
